* {
    box-sizing: border-box;
}

#calculator {
    margin: 80px auto;
}

.calculator {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 18px 18px;
    width: 320px;
}

.calculator .input {
    height:30px;
    width:98%;
    margin: 0 1% 2%;
    padding:0 10px;
    border: 1px solid #dedede;
    text-align: right;
}

.calculator .row{
    clear: both; /* fix float */
    white-space: nowrap; /*don't change row */
}

.calculator .button {
    width: 22%;
    margin: 1.2% 1%;
    border: 1px solid #dedede;
    background-color: #f5f5f5;
    cursor: pointer;
}

.calculator .button:hover {     /*when pointing */
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
}

.calculator .button.ac {
  background-color: #d6d6d6;
  border: 1px solid #c6c6c6;
}

.calculator .button.ac:hover {
  background-color: #d9d9d9;
  border: 1px solid #b6b6b6;
}
